In [1]:
import pandas as pd
import math
from sklearn.preprocessing import normalize
from collections import defaultdict
import operator
import os
from collections import Counter
from sklearn.metrics.pairwise import cosine_similarity
import gc

In [2]:
def tftoidf(word_dict,cut_code,word_idf):
    ans={}
   
    for i in word_dict:
        ans[i]=(cut_code[word_dict[i]])*word_idf[i]
    return ans

def compare2(s1_cut,s2_cut,DF,co):
   
   
    word_set = set(s1_cut).union(set(s2_cut))
    word_dict = dict()
    i = 0
   
    for word in word_set:#比較標號
        word_dict[word] = i
        i += 1
    
    #--------TF
    s1_cut_code = [word_dict[word] for word in s1_cut]#TF
    s1_cut_code = [0]*len(word_dict)

    for word in s1_cut:#S1詞頻
        s1_cut_code[word_dict[word]]+=1
    
    s2_cut_code = [word_dict[word] for word in s2_cut]

    s2_cut_code = [0]*len(word_dict)
    for word in s2_cut:#S2詞頻
        s2_cut_code[word_dict[word]]+=1
    for i in range(len(word_dict)):
        s1_cut_code[i]=s1_cut_code[i]/len(word_dict)
        s2_cut_code[i]=s2_cut_code[i]/len(word_dict)
    #--------IDF1

     
    doc_num=1000
    word_idf={}
    word_doc=DF
    s1_idf_code = s1_cut #S1單詞

    for i in word_dict:
        word_idf[i]=math.log(doc_num/(word_doc[i]+1))
    #print(word_idf)

    #--------IDF2.

    doc_num=1000
    word_idf2={}
    word_doc=DF
    s2_idf_code = s2_cut

    for i in word_dict:
        word_idf2[i]=math.log(doc_num/(word_doc[i]+1))
    #--------TF*IDF.  

    word_tf_idf=tftoidf(word_dict,s1_cut_code,word_idf)
   
    word_tf_idf2=tftoidf(word_dict,s2_cut_code,word_idf2)

    # 计算余弦相似度

    sum = 0
    sq1 = 0
    sq2 = 0
    for i in word_dict:
        sum += word_tf_idf[i] * word_tf_idf2[i]
        #print(i)
        sq1 += pow(word_tf_idf[i], 2)
        sq2 += pow(word_tf_idf2[i], 2)

    try:
        result = round(float(sum) / (math.sqrt(sq1) * math.sqrt(sq2)), 5)
    except ZeroDivisionError:
        result = 0.0
    if co%10000==0:
        del word_tf_idf
        del word_tf_idf2
        del word_set
        del word_dict
        gc.collect()
    return result

# count documents

In [3]:
documentPath = 'documents/'
documentList = os.listdir(documentPath)
documentnum=[]
dolist=[]
for file in documentList:
    f = open(documentPath+file, 'r')
    dolist.append(f.read())
    file=file.replace('.txt','')
    documentnum.append(file)
setdolist=[]   
col=[]
col.append('name')
col.append('cut')
documents_test = pd.DataFrame(columns=col,dtype=float)

documents_test['name']=documentnum
for i in range(len(documents_test)):
    documents_test['cut'][i]=dolist[i].split(' ')
documents_test

/var/folders/ks/dqhrwlns2r1506smq16l4dth0000gn/T/ipykernel_70839/2539168238.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  documents_test['cut'][i]=dolist[i].split(' ')

         name                                                cut
0     D744477  [answerscom, ®, wiki, answers, ®, categories, ...
1    D2616256  [richard, walker, home, meaning, of, richard, ...
2    D1744040                                       [tncolumbia]
3    D2696324  [country, inn, , suites, by, radisson, st, pet...
4     D932852  [jewelry, metals, 101, gold, silver, and, plat...
..        ...                                                ...
995  D2117450  [omc, cobra, king, cobra, toll, free, , 877283...
996  D2886245  [hotaru, shidare, anime, manga, kanji枝垂, ほたるro...
997   D810432  [home, , protein, , silk, cocoon, protein, pow...
998  D2984334  [introduction, the, station, was, established,...
999  D1801646  [boehringer, ingelheim, parent, company, boehr...

[1000 rows x 2 columns]

In [4]:
DF = {} 
for i in range(len(documents_test)): 
    tokens = documents_test['cut'][i] 
    for w in tokens: 
        try: 
            DF[w].add(i) 
        except: 
            DF[w] = {i}         
for i in DF:
    DF[i]=len(DF[i])

# count query

In [5]:
queriesPath = 'queries/'
queriesList = os.listdir(queriesPath)
qlist=[]
namelist=[]
af = open('queries_id_list.txt', 'r')
for file in af:
    file=file.replace('\n','')
    namelist.append(file)
    f = open(queriesPath+file+'.txt', 'r')
    qlist.append(f.read())   
    
col=[]
col.append('name')
col.append('cut')
f_test = pd.DataFrame(columns=col,dtype=float)
f_test['name']=namelist
for i in range(len(f_test)):
    f_test['cut'][i]=qlist[i].split(' ')
f_test

/var/folders/ks/dqhrwlns2r1506smq16l4dth0000gn/T/ipykernel_70839/3267628015.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_test['cut'][i]=qlist[i].split(' ')

       name                                                cut
0   1001149         [where, the, odontoid, process, is, found]
1   1008059  [which, cranial, nerve, leaves, the, cranial, ...
2   1037699                         [who, is, richard, walker]
3   1150201  [what, is, the, minimum, wage, in, los, angele...
4   1158307          [what, is, a, good, gluten, free, dinner]
5   1170700                      [side, effects, for, diastat]
6   1171932                                 [pivotal, meaning]
7     12567  [after, how, many, years, does, a, car, seat, ...
8    167717     [does, it, cost, more, to, build, up, or, out]
9    176461          [dull, pain, in, left, side, under, ribs]
10    18371                 [ankle, foot, flexors, definition]
11    20516                             [araya, name, meaning]
12   241059     [how, long, can, a, baby, stay, in, the, womb]
13   262905                   [how, long, is, a, stress, test]
14   291798  [how, many, people, are, affected, by, polydac...
15    29915                [authority, psychology, definition]
16   328582  [how, much, time, does, the, average, child, s...
17   337340          [how, old, was, benjamin, when, he, died]
18   386080                 [how, to, wash, 100, merino, wool]
19   387249                 [how, us, election, is, conducted]
20   392406             [ignition, switch, installation, cost]
21    40504         [average, price, for, architect, drawings]
22   412932   [is, in, n, out, coming, to, the, jersey, shore]
23   490563                           [royalty, name, meaning]
24   495941  [short, definition, of, computer, aided, draft...
25   530665                [typical, age, of, ovarian, cancer]
26   565608  [what, are, some, natural, resources, of, flor...
27    62019         [can, a, chevy, cruze, be, a, manual, car]
28   669725  [what, hotels, are, green, day, rumored, to, s...
29   683961                          [what, is, a, franchisee]
30   688426                            [what, is, a, language]
31   718760      [what, is, antisocial, personality, disorder]
32   732163                             [what, is, collectify]
33   743671                               [what, is, employer]
34    75083            [can, uber, pick, up, at, iah, airport]
35   758282                             [what, is, in, quinoa]
36    76700  [can, you, deduct, car, maintenance, and, mile...
37   769951          [what, is, meant, by, relational, schema]
38   780064                      [what, is, oral, thermometer]
39    79302  [can, you, remove, a, business, facebook, foll...
40   814571    [what, is, the, definition, of, a, food, chain]
41   844643                   [what, is, the, role, of, hpsci]
42   866105  [what, kind, of, a, lease, is, when, the, land...
43   868115  [what, kind, of, filler, for, wrinkles, around...
44   874593              [what, made, the, whig, party, split]
45   905512  [what, time, zone, are, the, marshall, islands...
46   918833    [what, was, michael, jacksons, skin, condition]
47   957412             [when, was, dolly, the, sheep, cloned]
48   972902                 [where, does, dysmenorrhea, occur]
49     9912  [about, how, many, bottles, go, to, landfill, ...

In [8]:
final=[]
score=[]
co=0
for i in range(len(f_test)):
    key_value ={}     
    for j in range(len(documents_test)):
        ans=compare2(f_test['cut'][i],documents_test['cut'][j],DF,co)
        key_value[documents_test['name'][j]]=ans
        co+=1
    score.append(sorted(key_value.items(), key = lambda kv:(kv[1], kv[0]),reverse=True))
col=[]
col.append('Query')
col.append('RetrievedDocuments')
answer = pd.DataFrame(columns=col,dtype=float)
answer['Query']=namelist
answer['RetrievedDocuments']=score

In [9]:
answer

      Query                                 RetrievedDocuments
0   1001149  [(D398561, 0.19835), (D1678969, 0.11435), (D95...
1   1008059  [(D101326, 0.41559), (D2932274, 0.15744), (D53...
2   1037699  [(D2616256, 0.90773), (D2240480, 0.25255), (D3...
3   1150201  [(D1193447, 0.6309), (D1675704, 0.53219), (D12...
4   1158307  [(D540613, 0.38997), (D1585045, 0.07808), (D39...
5   1170700  [(D280716, 0.89907), (D160182, 0.05509), (D207...
6   1171932  [(D214261, 0.49421), (D442273, 0.03608), (D333...
7     12567  [(D279470, 0.47967), (D3232522, 0.16273), (D15...
8    167717  [(D3527133, 0.3342), (D1292165, 0.28627), (D33...
9    176461  [(D3070021, 0.21057), (D62037, 0.1733), (D3075...
10    18371  [(D1662316, 0.12829), (D1160427, 0.10263), (D1...
11    20516  [(D2865338, 0.16289), (D778517, 0.06235), (D33...
12   241059  [(D2771694, 0.72618), (D2865338, 0.28731), (D2...
13   262905  [(D837408, 0.67374), (D166417, 0.14548), (D202...
14   291798  [(D3225297, 0.37283), (D2355512, 0.053), (D208...
15    29915  [(D1910136, 0.33684), (D1042221, 0.08544), (D3...
16   328582  [(D1458736, 0.38421), (D1059478, 0.20993), (D1...
17   337340  [(D331856, 0.16103), (D3398158, 0.12108), (D25...
18   386080  [(D1036608, 0.68462), (D1556006, 0.10769), (D3...
19   387249  [(D395739, 0.21231), (D1051544, 0.08997), (D28...
20   392406  [(D3527133, 0.17825), (D2490606, 0.16962), (D3...
21    40504  [(D16993, 0.35907), (D3527133, 0.09042), (D235...
22   412932  [(D1121253, 0.48057), (D1498952, 0.06922), (D1...
23   490563  [(D3165716, 0.69442), (D778517, 0.07472), (D33...
24   495941  [(D563763, 0.40071), (D2126879, 0.07449), (D24...
25   530665  [(D307510, 0.68784), (D2591611, 0.26559), (D12...
26   565608  [(D3139538, 0.25746), (D2141166, 0.07903), (D4...
27    62019  [(D2596035, 0.33758), (D3232522, 0.11723), (D1...
28   669725  [(D2442966, 0.3004), (D2915319, 0.11283), (D98...
29   683961  [(D372313, 0.33053), (D3233895, 0.10279), (D32...
30   688426  [(D379831, 0.51101), (D2155659, 0.17173), (D11...
31   718760  [(D146610, 0.75231), (D982730, 0.06032), (D442...
32   732163  [(D556819, 0.48199), (D3241851, 0.01374), (D15...
33   743671  [(D792241, 0.65618), (D2234960, 0.29794), (D12...
34    75083  [(D3152550, 0.60494), (D2810784, 0.15272), (D2...
35   758282  [(D617364, 0.90233), (D1585045, 0.1625), (D259...
36    76700  [(D355883, 0.2945), (D1234215, 0.15883), (D323...
37   769951  [(D1862254, 0.66881), (D565444, 0.02956), (D11...
38   780064  [(D2584855, 0.64704), (D1071526, 0.08813), (D9...
39    79302  [(D3043032, 0.08408), (D3395585, 0.07821), (D3...
40   814571  [(D1499511, 0.21297), (D2887788, 0.16204), (D2...
41   844643  [(D2158881, 0.17606), (D1146395, 0.05997), (D1...
42   866105  [(D2364302, 0.51746), (D792241, 0.06478), (D12...
43   868115  [(D2234835, 0.23834), (D2406185, 0.06351), (D2...
44   874593  [(D2363120, 0.11466), (D1051544, 0.0848), (D32...
45   905512  [(D1720558, 0.44727), (D2304369, 0.44052), (D3...
46   918833  [(D1455843, 0.30225), (D235277, 0.25486), (D53...
47   957412  [(D1427093, 0.69928), (D2962724, 0.08311), (D5...
48   972902  [(D638152, 0.53256), (D1401524, 0.04529), (D62...
49     9912  [(D2661828, 0.49177), (D2553381, 0.16582), (D9...

In [10]:
answer1=answer.copy()

In [11]:
for i in range(len(answer1)):
    st=''
    for j in range(len(answer1['RetrievedDocuments'][i])):
        if(j==999):
            st=st+answer1['RetrievedDocuments'][i][j][0]
        else:
            st=st+answer1['RetrievedDocuments'][i][j][0]+' '
    answer1['RetrievedDocuments'][i]=st
answer1

      Query                                 RetrievedDocuments
0   1001149  D398561 D1678969 D954322 D2117298 D1304667 D17...
1   1008059  D101326 D2932274 D536378 D2760316 D1233108 D10...
2   1037699  D2616256 D2240480 D3103838 D1727368 D612714 D5...
3   1150201  D1193447 D1675704 D1234215 D1675096 D1927959 D...
4   1158307  D540613 D1585045 D396774 D512532 D2026282 D216...
5   1170700  D280716 D160182 D2072010 D3075569 D1068252 D31...
6   1171932  D214261 D442273 D3330476 D1674095 D998007 D579...
7     12567  D279470 D3232522 D1556006 D714459 D442910 D103...
8    167717  D3527133 D1292165 D3324553 D2813899 D649109 D2...
9    176461  D3070021 D62037 D3075569 D564273 D3065831 D327...
10    18371  D1662316 D1160427 D1082863 D2638496 D1403319 D...
11    20516  D2865338 D778517 D3330476 D383346 D442273 D316...
12   241059  D2771694 D2865338 D2957844 D126331 D2340978 D2...
13   262905  D837408 D166417 D2022641 D3366377 D2771694 D10...
14   291798  D3225297 D2355512 D2080227 D1366625 D3377971 D...
15    29915  D1910136 D1042221 D3175584 D2133352 D1403319 D...
16   328582  D1458736 D1059478 D1393003 D3278815 D1707568 D...
17   337340  D331856 D3398158 D2535542 D1455843 D2032782 D2...
18   386080  D1036608 D1556006 D3165716 D7319 D2611209 D531...
19   387249  D395739 D1051544 D2803568 D298380 D3207256 D83...
20   392406  D3527133 D2490606 D3084336 D1069666 D2813899 D...
21    40504  D16993 D3527133 D235286 D563763 D1261305 D2088...
22   412932  D1121253 D1498952 D1995396 D3233895 D2927654 D...
23   490563  D3165716 D778517 D3330476 D383346 D442273 D178...
24   495941  D563763 D2126879 D2437890 D565444 D1403319 D31...
25   530665  D307510 D2591611 D126942 D1193740 D3278815 D10...
26   565608  D3139538 D2141166 D4240 D1193692 D1911840 D264...
27    62019  D2596035 D3232522 D1556006 D1035815 D355883 D2...
28   669725  D2442966 D2915319 D98313 D3369576 D812586 D331...
29   683961  D372313 D3233895 D3241851 D1542641 D768804 D32...
30   688426  D379831 D2155659 D1193692 D3296808 D365582 D17...
31   718760  D146610 D982730 D442273 D2552048 D1606310 D145...
32   732163  D556819 D3241851 D1542641 D768804 D3278815 D21...
33   743671  D792241 D2234960 D1234215 D355883 D3149959 D34...
34    75083  D3152550 D2810784 D2806215 D554098 D1530709 D2...
35   758282  D617364 D1585045 D259137 D418375 D705864 D3241...
36    76700  D355883 D1234215 D3232522 D1556006 D2197073 D5...
37   769951  D1862254 D565444 D1164636 D1330247 D2363120 D1...
38   780064  D2584855 D1071526 D918281 D2218579 D109882 D11...
39    79302  D3043032 D3395585 D355883 D1305445 D1419276 D2...
40   814571  D1499511 D2887788 D2209307 D2011868 D2026282 D...
41   844643  D2158881 D1146395 D1316460 D2355512 D1962068 D...
42   866105  D2364302 D792241 D122071 D166713 D544438 D2591...
43   868115  D2234835 D2406185 D2873334 D615848 D160182 D10...
44   874593  D2363120 D1051544 D3207256 D2778016 D2005532 D...
45   905512  D1720558 D2304369 D3460962 D1299645 D1983821 D...
46   918833  D1455843 D235277 D531684 D2535397 D2357146 D17...
47   957412  D1427093 D2962724 D54429 D572777 D1036608 D240...
48   972902  D638152 D1401524 D628113 D443449 D62037 D21588...
49     9912  D2661828 D2553381 D98313 D442910 D246195 D3165...

In [12]:
answer1.to_csv('submission.csv',index=0)